.box{
    width: 100%;
    padding: 210px 0px 0px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 82%;
    background-blend-mode: darken;
    margin: 0px;
    color: #fff;
}

