.box{
    position: relative;
}
.action{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.media{
    opacity: 0.8;
}

.box:hover .media{
    opacity: 1;
}